* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: "pythagoras";
    src: url(pythago0.ttf);
}

.title {
    font-size: 3em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "pythagoras";
    padding: 50px 0;
}

.window {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 85, 4);
}

.weapons, .suspects, .rooms {
    width: 90%;
    background-color: rgb(1, 148, 9);
    margin-bottom: 50px;
    padding: 40px 20px 10px 10px;
    border: 2px solid rgb(0, 46, 2);
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 46, 2, 0.5);
}



.infoContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

p {
    font-family: "pythagoras";
    font-size: 6.8vw;
    white-space: nowrap;
}

input {
    margin: 0 10px;
    width: 6.8vw;
    height: 6.8vw;

}

.checked {
    text-decoration: line-through;
    opacity: 0.6;
}

button {
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 200px;
}

.btn {
    top: 85%;
    left: 75%;
}

.note {
    top: 70%;
    left: 75%;
}

.view {
    display: block;
    z-index: 100;
}

.hide {
    display: block;
    z-index: 99;
}

.notepad {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.screenHidden {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.hideNotepad {
    display: none;
}

.screenHiddenRemoved {
    display: none;
}

.hideRemoved {
    display: none;
}

.viewRemoved {
    display: none;
}